*.yml
build/
node_modules/
test/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
doc/
docs/
undefined/
temp/
yarn.lock
yarn-error.log
package-lock.json
.editorconfig
.eslintignore
.lintstagedrc
.prettierignore
.prettierrc
.eslintrc.js
.babelrc
jsdoc.config.json

/dist/demo.html
/dist/pro-layout.common.js
/dist/pro-layout.umd.js